@charset "UTF-8";
.table-header{
	margin-bottom: 0;
	border-bottom: none;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.table-header .table-heading{
	padding: 5px;
}
.table-header .table-title{
	padding: 8px;
}
.warning-text {color:red;font-size:16px}
table td:last-child span.glyphicon{
	cursor: pointer;
}
th input[type="checkbox"]{
	width: 15px;
	height: 15px;
	float: left!important;
}
.bottom-10{
	margin-bottom: 10px;
}
.bottom-20{
	margin-bottom: 20px;
}

.top-10{
	margin-top: 10px;
}
.top-5{
	margin-top: 5px;
}
.right-10{
	margin-right: 10px;
}

.left-10{
	margin-left: 10px;
}

.cond-label{
	min-width: 15px;
}
.cond-selected{color: #333!important}
.page-color>.active>span{background-color:#31b0d5!important;border-color: #31b0d5!important;}
button.button-link{
	border: 1px solid #46b8da;
	background-color: #fff;
	color: #46b8da;
}
button.button-link:hover{
	border: 1px solid #46b8da;
	background-color: #46b8da;
	color: #fff;
}


/*////////////////////////////////////////////////////////////////////////////////////*/
/*自定义container*/
.container {
	padding-right:10px;
	padding-left:10px;
	/*margin-right:7%;*/
	margin-outside: 10%;
	/*margin-left:7%*/
}
@media (min-width:768px) {
	.container {
		width:755px
	}
}@media (min-width:992px) {
	.container {
		width:980px
	}
}@media (min-width:1200px) {
	.container {
		width:1180px
	}
}@media (min-width:1700px) {
	.container {
		width:1680px
	}
}.container-fluid {
	 padding-right:7px;
	 padding-left:7px;
	 margin-right:auto;
	 margin-left:auto
 }

 /*去除row的右侧15px空白*/
.row{margin:0;}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
	padding: 1px;}

/*表格中的文字居中*/
.table th, .table td {
	text-align: center;
	vertical-align: middle!important;
	table-layout: fixed;
}

.box-width{
	width: 240px;
}

.ltbox-size{
	width: 120px;
}

table{
	table-layout: fixed;
}
/*!*鼠标掠过显示详细*!*/
td {
	text-overflow:ellipsis; /*溢出的文字显示为省略号*/
	white-space:nowrap;  /*规定段落中的文本不进行换行*/
	overflow:hidden;  /*关闭滚动条*/
}

td:hover{
	white-space:pre-wrap;
    word-wrap:break-word;
}



