@charset "UTF-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,th,td{margin:0;padding:0}
h2{font-size:100%;font-family:arial,'hiragino sans gb','microsoft yahei','Simsun',sans-serif}
li{list-style:none}
a:link,a:visited{text-decoration:none}
blockquote{margin: 0 0 15px;padding: 10px;border-left: 5px solid #ddd}


.head-v3{position:relative;z-index:100;min-width:600px;margin-bottom: 20px}
.head-v3 .navigation-inner{margin:0 auto;position:relative}

.nav-item-1{
    position:relative;
    min-height:1px;
    padding-right:5px;
    padding-left:5px;
    /*width:5%;*/
}
.nav-item-2{
    position:relative;
    min-height:1px;
    padding-right:5px;
    padding-left:5px;
    /*width: 8%;*/
}

/*.navigation-up{height:60px;background:#d9edf7}*/
.navigation-up{height:60px;background:#60b0ec}
.navigation-up .navigation-v3{float:left;_margin-left:10px;width: 100%}
.navigation-up .navigation-v3 ul{float:left;width: 100%}
.navigation-up .navigation-v3 li {
    float: left;
    font-style: normal;
    font-family: "microsoft yahei";
    font-size:120%;
    color: #fff;
}

/*@media screen and (max-width:1300px) {*/
    /*.navigation-up .navigation-v3 li {*/
        /*float: left;*/
        /*font: normal 16px/59px "microsoft yahei";*/
        /*color: #fff*/
    /*}*/
/*}*/

.navigation-up .navigation-v3 .nav-up-selected a{color:#d9edf7}/*原颜色：rgb(93,199,246)*/
.navigation-up .navigation-v3 .nav-up-selected-inpage a{color:#d9edf7}
.navigation-up .navigation-v3 li h2{font-weight:normal;padding:0;margin:0}
.navigation-up .navigation-v3 li h2 a{padding:0 10px;color:#000;display:inline-block;height:40px;font-family:"microsoft yahei"}

.navigation-down{position:absolute;top:60px;left:0px;width:100%}
.navigation-down .nav-down-menu{width:100%;margin:0;background:#d9edf7;position:absolute;top:0px}
.navigation-down .nav-down-menu .navigation-down-inner{margin:auto;width:1200px;position:relative}
.navigation-down .nav-down-menu dl{float:left;margin:18px 80px 18px 0}
.navigation-down .menu-1 dl{margin:20px 80px 25px 0}
.navigation-down .menu-1 dt{font:normal 16px "microsoft yahei";color:#61789e;padding-bottom:10px;border-bottom:1px solid #61789e;margin-bottom:10px}
.navigation-down .menu-1 dd a{font:normal 14px/30px "microsoft yahei"}
.navigation-down .menu-1 dd a:hover{color:#60aff6}
.third-menu-selected{color:#60aff6}
.navigation-down .menu-2 dd a,.navigation-down .menu-3 dd a{color:#fff;font:normal 16px "microsoft yahei"}
.head-v3 h1,.head-v3 h2,.head-v3 h3,.head-v3 h4,.head-v3 h5,.head-v3 h6{line-height: 3.5!important}

/*分页样式*/
.page-list .pagination {float:left;margin:10px 0 15px 0;}
.page-list .pagination span {cursor: pointer;}
.page-list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
.page-list .pagination .separate span:hover {background: none;}
.page-list .page-total {float:left; margin: 15px 15px 20px 20px;}
.page-list .page-total input, .page-list .page-total select{height: 26px; border: 1px solid #ddd;}
.page-list .page-total input {width: 40px; padding-left:3px;}
.page-list .page-total select {width: 50px;}

.panel-default>.panel-heading {
    color: #333;
    background-color: #d9edf7;
    border-color: #ddd;
}