<extend name="EXPERT/Templates/nav.html"/>
<block name="content">
  <div class="container" ng-app="patent" ng-controller="patentController as vm">
      <div id="pannel_frame" class="panel panel-default">
          <div class="panel-heading">
              <span>筛选条件：</span>
          </div>
          <div class="panel-body">
              <div class="col-sm-12 bottom-10 top-10">
                  <!--<show-more count="2">-->
                      <!--<div class="col-sm-5">-->
                          <!--<span class="cond-label"> 拥 有 单 位 ：</span>-->
                          <!--<div class="btn-group">-->
                              <!--<label style="margin-bottom:0;color:#eee">-->
                                  <!--<select class="box-width form-control" ng-model="vm.collegeSelected1"-->
                                          <!--ng-options="item.id as item.name for item in vm.collegeList">-->
                                      <!--<option value="">全部</option>-->
                                  <!--</select>-->
                              <!--</label>-->

                          <!--</div>-->
                      <!--</div>-->
                      <div class="col-sm-5 ">
                          <span class="cond-label">发明人单位：</span>
                          <div class="btn-group">
                              <label style="margin-bottom:0;color:#eee">
                                  <select class="select-width form-control" ng-model="vm.collegeSelected2"
                                          ng-options="item.id as item.name for item in vm.collegeList">
                                      <option value="">全部</option>
                                  </select>
                              </label>

                          </div>
                      </div>
                  <!--<div class="col-sm-12 top-10" ng-if="vm.collegeSelectedList1.length > 0">-->
                      <!--<span class="col-sm-1">所选拥有单位：</span>-->
                      <!--<label style="margin-bottom:0" ng-repeat="item in vm.collegeSelectedList1">-->
                          <!--<button tyle="button" class="btn button-link" ng-bind="vm.collegeMap1[item]+'   X'"-->
                                  <!--ng-click="vm.removeCollege1(item)"><b></b></button>-->
                          <!--&nbsp;-->
                      <!--</label>-->
                  <!--</div>-->
                  <div class="col-sm-12 top-10"
                       ng-if="vm.collegeSelectedList2.length > 0">
                      <span class="col-sm-1">所选发明单位：</span>
                      <label style="margin-bottom:0" ng-repeat="item in vm.collegeSelectedList2">
                          <button tyle="button" class="btn button-link" ng-bind="vm.collegeMap2[item]+'   X'"
                                  ng-click="vm.removeCollege2(item)"><b></b></button>
                          &nbsp;
                      </label>
                  </div>
                      <!--<div class="col-sm-12 bottom-10">-->
                          <!--<span class="cond-label">专利名称：</span>-->
                          <!--<div class="btn-group">-->
                              <!--<input type="text" class="form-control" ng-model="vm.name"/>-->
                          <!--</div>-->
                      <!--</div>-->
                      <!--<div class="col-sm-12 bottom-10">-->
                          <!--<span class="cond-label">拥有人：</span>-->
                          <!--<div class="btn-group">-->
                              <!--<input type="text" class="form-control" ng-model="vm.owner_name"/>-->
                          <!--</div>-->
                      <!--</div>-->
                      <!--<div class="col-sm-12 bottom-10">-->
                          <!--<span class="cond-label">发明人：</span>-->
                          <!--<div class="btn-group">-->
                              <!--<input type="text" class="form-control" ng-model="vm.firstinventor_name"/>-->
                          <!--</div>-->
                      <!--</div>-->
                      <!--<div class="col-sm-12">-->
                          <!--<span class="cond-label"></span>-->
                          <!--<button class="btn btn-info" ng-click="vm.submit()">确定</button>-->
                          <!--<button class="btn btn-default" ng-click="vm.cancel()">取消</button>-->
                      <!--</div>-->
                      <!--<div class="col-sm-12" id="more">-->
            <!--<span class="glyphicon glyphicon-triangle-bottom">-->
            <!--</span>-->
                      <!--</div>-->
                  <!--</show-more>-->
              </div>
          </div>
  	<div class="col-md-12">
      <div class="panel panel-default table-header">
        <div class="panel-heading table-heading">
          <div class="row">
            <div class="col-md-4 pull-left">
              <h3 class="panel-title table-title">专利列表</h3>
            </div>
            <div class="col-md-8 pull-right" ng-hide="vm.showCheckbox||vm.showImportbox">
                <button type="button" class="btn btn-info pull-right right-10" ng-click="vm.showImportbox=true">
                    导入Excel&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-import"></span>
                </button>
                <button type="button" class="btn btn-info pull-right right-10" ng-click="vm.showCheckbox=true">导出Excel&nbsp;&nbsp;<span class="glyphicon glyphicon-export"></span></button>
                <!--<div class="input-group col-md-4 pull-right right-10">-->
                  <!--<input type="text" class="form-control" ng-model="filter" placeholder="输入关键字">-->
                  <!--<div class="input-group-addon">筛选</div>-->
                <!--</div>-->
                <div class="input-group col-md-4 pull-right right-10 has-feedback">
                    <a class="btn input-group-addon" ng-click="vm.search()">搜索</a>
                    <input type="text" class="form-control " ng-model="vm.keyword" ng-blur="vm.search()" ng-keyup="searchKeyupEvent($event)"
                           placeholder="发明人/专利名称">
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <span style="width:30px;height:30px;position:absolute;right:2px;z-index:100;cursor: pointer;"  ng-click="vm.resetKeyword()"></span>
                    <!--覆盖在小图标上面的元素-->
                    <!--<a class="btn input-group-addon" ng-click="vm.search()">搜索</a>-->
                </div>
            </div>
            <div class="col-md-8" ng-show="vm.showCheckbox">
                <button type="button" class="btn btn-default pull-right" ng-click="vm.showCheckbox=false">取消导出</span></button>
                <button type="button" class="btn btn-primary pull-right right-10" ng-click="vm.exportExcel('all')">导出所有<span class="glyphicon glyphicon-export"></span></button>
                <button type="button" class="btn btn-success pull-right right-10" ng-click="vm.exportExcel('current')">导出当前页<span class="glyphicon glyphicon-export"></span></button>
                <h3 class="table-title warning-text pull-left">请选择要导出的字段</h3>
            </div>
              <div class="col-md-8" ng-show="vm.showImportbox">
                  <form method="post" action="{:U('Patent/import')}" enctype="multipart/form-data">
                      <!--<div class="col-sm-6">-->
                      <!--<label class="pull-right right-10">浏览要导入的Excel文件：</label>-->
                      <!--</div>-->
                      <div class="col-sm-8">
                          <input type="file" class="pull-right bottom-10" name="file_import"/>
                      </div>
                      <div class="col-sm-4" class="pull-right right-10">
                          <button class="btn btn-default pull-right right-10" type="button"
                                  ng-click="vm.showImportbox=false">取消导入
                          </button>
                          <input type="submit" class="btn btn-primary pull-right right-10" value="导入所选文件"/>
                      </div>
                  </form>
              </div>
          </div>
        </div>
      </div>
  		<table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
              <th width="4%"><span ng-hide="vm.showCheckbox">#</span><span ng-show="vm.showCheckbox">全选<input type="checkbox" ng-click="vm.selectAll();"></span></th>
              <th width="24%">专利名<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.name"></th>
              <th width="6%">第一人<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.first_inventor"></th>
              <th width="10%">参与人<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.all_inventors"></th>
              <th width="9%">单位<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.owner_college_name"></th>
              <th width="8%">申请日期<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.apply_date"></th>
              <th width="8%">申请编号<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.apply_no"></th>
              <th width="8%">授权日期<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.grant_date"></th>
              <th width="10%">专利类型<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.type"></th>
              <th width="10%">专利状态<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.patent_state"></th>
              <!--<th width="4%">备注<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.comment"></th>-->
              <th width="4%">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="vm.paginationConf.totalItems>0" ng-repeat="item in vm.patentList | filter:filter">
              <td ng-bind="vm.baseIndex+$index+1"></td>
              <td ng-bind="item.name"></td>
              <td style="white-space: nowrap;" ng-switch="item.first_inventor_id">
                  <div ng-switch-when="88888" ng-cloak>
                      <!--非专家-->
                      <span ng-bind="item.first_inventor" title="不存在该专家"></span>
                  </div>
                  <div ng-switch-default>
                      <a ng-bind="item.first_inventor" href="__APP__/People/detail/?id={{item.first_inventor_id}}"></a>
                  </div>
              </td>
              <td ng-bind="item.all_inventors"></td>
              <td ng-bind="item.owner_college_name"></td>
              <td ng-bind="item.apply_date"></td>
              <td ng-bind="item.apply_no"></td>
              <td ng-bind="item.grant_date"></td>
              <td ng-bind="item.type"></td>
              <td ng-bind="item.patent_state"></td>
              <!--<td ng-bind="item.comment"></td>-->
              <td  style="white-space: nowrap;">
                  <?php if($_SESSION['role_num']==2){ ?>
                  <a href="__URL__/delete?id={{item.id}}">删除</a>
                  <?php }else{ ?>
                  <a href="#">暂无</a>
                  <?php } ?>
              </td>
          </tr>
          <tr ng-if="vm.paginationConf.totalItems==0"><td colspan="11"><h2 class="text-center text-danger">无数据</h2></td></tr>
        </tbody>
      </table>
        <!--<form method="post" action="{:U('Patent/import')}" enctype="multipart/form-data">-->
            <!--<h3>导入Excel表：</h3><input  type="file" name="file_import" />-->
            <!--<input type="submit"  value="导入" />-->
        <!--</form>-->
      <tm-pagination conf="vm.paginationConf"></tm-pagination>
    </div>
  </div>
</block>
<block name="js">
<script type="text/javascript" src="__PUBLIC__/js/patent.controller.js"></script>
<script type="text/javascript" src="__CDN__/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
<script>
  selectMenu('patent', 4, 0);
  $(document).ready(function(){
      refresh_mychart();
  });
  $(window).resize(refresh_mychart());
  function refresh_mychart(){
      var p1_width = $("#pannel_frame").width()-20;
      var p1_height = p1_width/4;
      $("#p1").width(p1_width).height(p1_height);
  }
</script>
</block>