<extend name="EXPERT/Templates/nav.html"/>
<block name="content">
  <div class="container" ng-app="lab" ng-controller="labController as vm">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>筛选条件：</span>
      </div>
      <div class="panel-body">
        <div class="col-sm-12 row">
          <div class="col-sm-5">
              <span class="cond-label">所属学院：</span>
              <div class="btn-group">
                <label style="margin-bottom:0;color:#eee">
                  <select class="box-width form-control" ng-model="vm.collegeSelected"
                          ng-options="item.id as item.name for item in vm.collegeList">
                    <option value="">全部</option>
                  </select>
                </label>
              </div>
          </div>
          <div class="col-sm-7">
              <span class="cond-label">成立时间：</span>
              <div class="btn-group">
                <form class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="vm.start_time" ng-blur=" vm.setStart()" ng-keyup="setStartKeyupEvent($event)"
                           placeholder="时间格式：1919-10-17"/>
                    至
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="vm.end_time" ng-blur="vm.setEnd()" ng-keyup="setEndKeyupEvent($event)"
                           placeholder="时间格式：2019-10-17"/>
                  </div>
                </form>
              </div>
          </div>
        </div>
            <div class="col-sm-12 top-10" ng-if="vm.collegeSelectedList.length > 0">
              <span class="cond-label">所选单位：</span>
              <label style="margin-bottom:0" ng-repeat="item in vm.collegeSelectedList">
                <button tyle="button" class="btn button-link" ng-bind="vm.collegeMap[item]+'   X'"
                        ng-click="vm.removeCollege(item)"><b></b></button>
                &nbsp;
              </label>
            </div>


      </div>
    </div>
  	<div class="col-md-12">
      <div class="panel panel-default table-header">
        <div class="panel-heading table-heading">
          <div class="row">
            <div class="col-md-4 pull-left">
              <h3 class="panel-title table-title">平台列表</h3>
            </div>
            <div class="col-md-8 pull-right" ng-hide="vm.showCheckbox||vm.showImportbox">
              <button type="button" class="btn btn-info pull-right right-10" ng-click="vm.showImportbox=true">
                导入Excel&nbsp;&nbsp;
                <span class="glyphicon glyphicon-import"></span>
              </button>
              <button type="button" class="btn btn-info pull-right right-10" ng-click="vm.showCheckbox=true">导出Excel&nbsp;&nbsp;<span class="glyphicon glyphicon-export"></span></button>
              <div class="input-group col-md-4 pull-right right-10 has-feedback">
                <a class="btn input-group-addon" ng-click="vm.search()">搜索</a>
                <input type="text" class="form-control " ng-model="vm.keyword"
                       ng-blur="vm.search()" ng-keyup="searchKeyupEvent($event)"
                       placeholder="平台/负责人/联系人名">
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                <span style="width:30px;height:30px;position:absolute;right:2px;z-index:100;cursor: pointer;"
                      ng-click="vm.resetKeyword()"></span>
                <!--覆盖在小图标上面的元素-->
                <!--<a class="btn input-group-addon" ng-click="vm.search()">搜索</a>-->
              </div>
            </div>
            <div class="col-md-8" ng-show="vm.showCheckbox">
              <button type="button" class="btn btn-default pull-right" ng-click="vm.showCheckbox=false">取消导出</span></button>
              <button type="button" class="btn btn-primary pull-right right-10" ng-click="vm.exportExcel('all')">导出所有<span class="glyphicon glyphicon-export"></span></button>
              <button type="button" class="btn btn-success pull-right right-10" ng-click="vm.exportExcel('current')">导出当前页<span class="glyphicon glyphicon-export"></span></button>
              <h3 class="table-title warning-text pull-left">请选择要导出的字段</h3>
            </div>
            <div class="col-md-8" ng-show="vm.showImportbox">
              <form method="post" action="{:U('Lab/import')}" enctype="multipart/form-data">
                <!--<div class="col-sm-6">-->
                <!--<label class="pull-right right-10">浏览要导入的Excel文件：</label>-->
                <!--</div>-->
                <div class="col-sm-8">
                  <input type="file" class="pull-right bottom-10" name="file_import"/>
                </div>
                <div class="col-sm-4" class="pull-right right-10">
                  <button class="btn btn-default pull-right right-10" type="button"
                          ng-click="vm.showImportbox=false">取消导入
                  </button>
                  <input type="submit" class="btn btn-primary pull-right right-10" value="导入所选文件"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  		<table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <!--点击实验室名称后显示实验室详细信息，类似于用户详细信息-->
              <th><span ng-hide="vm.showCheckbox">#</span><span ng-show="vm.showCheckbox">全选<input type="checkbox" ng-click="vm.selectAll();"></span></th>
              <th>实验室名<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.name"></th>
              <th>负责人<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.manager_name"></th>
              <th>联系人<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.contact_name"></th>
              <th>地址<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.location"></th>
              <th>成立时间<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.formed_date"></th>
              <th>所属院系<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.college_name"></th>
              <th>成员<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.member"></th>
              <th>简介<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.description"></th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="vm.paginationConf.totalItems>0" ng-repeat="item in vm.labList | filter:filter">
              <td ng-bind="item.id"></td>
              <td ng-bind="item.name"></td>
              <td><a ng-bind="item.manager_name" href="__APP__/People/detail/?id={{item.manager_id}}"></a></td>
              <td><a ng-bind="item.contact_name" href="__APP__/People/detail/?id={{item.contact_id}}"></a></td>
              <td ng-bind="item.location"></td>
              <td ng-bind="item.formed_date"></td>
              <td ng-bind="item.college_name"></td>
              <td ng-bind="item.member"></td>
              <td ng-bind="item.description"></td>
              <td><a href="__URL__/delete?id={{item.id}}">删除</a></td>
            </tr>
            <tr ng-if="vm.paginationConf.totalItems==0"><td colspan="12"><h2 class="text-center text-danger">无数据</h2></td></tr>
          </tbody>
      </table>
      <!--<form method="post" action="{:U('Lab/import')}" enctype="multipart/form-data">-->
        <!--<h3>导入Excel表：</h3><input  type="file" name="file_import" />-->
        <!--<input type="submit"  value="导入" />-->
      <!--</form>-->
      <tm-pagination conf="vm.paginationConf"></tm-pagination>
    </div>
  </div>
</block>
<block name="js">
<script type="text/javascript" src="__PUBLIC__/js/lab.controller.js"></script>
<script type="text/javascript" src="__CDN__/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
<script>
  selectMenu('lab', 6, 0);
</script>
</block>