<extend name="EXPERT/Templates/nav.html" xmlns="http://www.w3.org/1999/html"/>
<block name="content">
  <div class="container" ng-app="project" ng-controller="projectController as vm">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>筛选条件：</span>
      </div>
      <div class="panel-body">
        <div class="col-sm-12">
          <div class="col-sm-9">
            <div class="col-sm-6">
              <span class="cond-label">项目类型：</span>
              <div class="btn-group">
                <label style="margin-bottom:0;color:#eee">
                  <select class="box-width form-control" ng-model="vm.typeSelected" ng-options="item.id as item.name for item in vm.typeList">
                    <option value="">全部</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <span class="cond-label">参与单位：</span>
              <div class="btn-group">
                <label style="margin-bottom:0;color:#eee">
                  <select class="box-width form-control" ng-model="vm.collegeSelected" ng-options="item.id as item.name for item in vm.collegeList">
                    <option value="">全部</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="col-sm-4 top-10">
              <span class="cond-label">横纵类型：</span>
              <div class="btn-group">
                <label class="btn btn-default active" ng-model="vm.params.depth_flag" uib-btn-radio="''">全部</label>
                <label class="btn btn-default" ng-model="vm.params.depth_flag" uib-btn-radio="'是'">纵向</label>
                <label class="btn btn-default" ng-model="vm.params.depth_flag" uib-btn-radio="'否'">横向</label>
              </div>
            </div>
            <div class="col-sm-5 top-10">
              <span class="cond-label">立项时间：</span>
              <div class="btn-group">
                <form class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control" style="width:110px" ng-model="vm.start_time" ng-blur="vm.setStart()" ng-keyup="setStartKeyupEvent($event)"
                           placeholder="2010-10-10"/>
                    至
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" style="width:110px" ng-model="vm.end_time" ng-blur="vm.setEnd()" ng-keyup="setEndKeyupEvent($event)"
                           placeholder="2010-10-10"/>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-1 top-10" ng-hide="vm.chartFlag">
              <a class="btn btn-success" ng-click="vm.chartFlag=true" href="" title="显示统计图">显示统计图表</a>
            </div>
            <div class="col-sm-1 top-10" ng-hide="!vm.chartFlag" ng-cloak>
              <a class="btn btn-danger" ng-click="vm.chartFlag=false" href="" title="隐藏图表">隐藏统计图表</a>
            </div>
            <div class="row col-sm-12">
              <span class="col-sm-1 top-10">所选单位与类型：</span>
              <div class="col-sm-11 top-10" ng-show="vm.collegeSelectedList.length > 0||vm.typeSelectedList.length > 0" ng-cloak>
                <label style="margin-bottom:0" ng-repeat="item in vm.collegeSelectedList">
                  <button tyle="button" class="btn button-link" ng-bind="vm.collegeMap[item]+'   X'"
                          ng-click="vm.removeCollege(item)"><b></b></button>
                  &nbsp;
                </label>
                <label style="margin-bottom:0" ng-repeat="item in vm.typeSelectedList">
                  <button tyle="button" class="btn button-link" ng-bind="vm.typeMap[item]+'   X'" ng-click="vm.removeType(item)"><b></b></button>&nbsp;
                </label>
              </div>
              <div  class="col-sm-11 top-10" ng-hide="vm.collegeSelectedList.length > 0||vm.typeSelectedList.length > 0" ng-cloak>
                <label style="margin-bottom:0">
                  <button tyle="button" class="btn button-link">所有类型</button>
                </label>
              </div>
            </div>


          </div>
          <div class="col-sm-3">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">所选项目基本统计</h3>
              </div>
              <table class="table table-bordered table-striped" style="border-bottom:1px #bce8f1 solid">
                <thead>
                <tr>
                  <th class="col-sm-6">项目总数(项)</th>
                  <th class="col-sm-6">基金总数(万)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td ng-bind="vm.paginationConf.totalItems"></td>
                  <td ng-bind="vm.totalFund"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div  class="col-sm-12" ng-show="vm.chartFlag" ng-cloak>
            <hr/>
            <span class="cond-label col-sm-1">统计类型：</span>
            <div class="col-sm-11">
              <div class="btn-group">
                <label class="btn btn-default active" ng-model="vm.count_type" uib-btn-radio="'college'">科研单位</label>
                <!--<label class="btn btn-default" ng-model="vm.count_type" uib-btn-radio="'title'">职称类型</label>-->
                <!--<label class="btn btn-default" ng-model="vm.count_type" uib-btn-radio="'honor'">学术称号</label>-->
              </div>
            </div>
            <div id="p1" style="height: 300px;width:1126px;" class="bottom-20"></div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="panel panel-default table-header">
        <div class="panel-heading table-heading">
          <div class="row">
            <div class="col-md-4 pull-left">
              <h3 class="panel-title table-title">项目列表</h3>
            </div>

            <div class="col-md-8 pull-right" ng-hide="vm.showCheckbox||vm.showImportbox">
              <button type="button" class="btn btn-info pull-right right-10" ng-click="vm.showImportbox=true">
                导入Excel&nbsp;&nbsp;
                <span class="glyphicon glyphicon-import"></span>
              </button>
              <button type="button" class="btn btn-info pull-right right-10" ng-click="vm.showCheckbox=true">导出Excel&nbsp;&nbsp;
                <span class="glyphicon glyphicon-export"></span>
              </button>
              <div class="input-group col-md-4 pull-right right-10 has-feedback">
                <a class="btn input-group-addon" ng-click="vm.search()">搜索</a>
                <input type="text" class="form-control " ng-model="vm.keyword" ng-blur="vm.search()" ng-keyup="searchKeyupEvent($event)" placeholder="项目名或专家名">
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                <span style="width:30px;height:30px;position:absolute;right:2px;z-index:100;cursor: pointer;"  ng-click="vm.resetKeyword()"></span>
                <!--覆盖在小图标上面的元素-->
                <!--<a class="btn input-group-addon" ng-click="vm.search()">搜索</a>-->
              </div>
              <!--<div class="input-group col-md-4 pull-right right-10">-->
                <!--<input type="text" class="form-control" ng-model="filter" placeholder="项目名或拥有者">-->
                <!--<div class="input-group-addon">筛选</div>-->
              <!--</div>-->
            </div>

            <div class="col-md-8" ng-show="vm.showCheckbox">
                <button type="button" class="btn btn-default pull-right" ng-click="vm.showCheckbox=false">取消导出</span></button>
                <button type="button" class="btn btn-primary pull-right right-10" ng-click="vm.exportExcel('all')">导出所有<span class="glyphicon glyphicon-export"></span></button>
                <button type="button" class="btn btn-success pull-right right-10" ng-click="vm.exportExcel('current')">导出当前页<span class="glyphicon glyphicon-export"></span></button>
                <h3 class="table-title warning-text pull-left">请选择要导出的字段</h3>
            </div>

            <div class="col-md-8" ng-show="vm.showImportbox">
              <form method="post" action="{:U('Project/import')}" enctype="multipart/form-data">
                <!--<div class="col-sm-6">-->
                <!--<label class="pull-right right-10">浏览要导入的Excel文件：</label>-->
                <!--</div>-->
                <div class="col-sm-8">
                  <input type="file" class="pull-right bottom-10" name="file_import"/>
                </div>
                <div class="col-sm-4" class="pull-right right-10">
                  <button class="btn btn-default pull-right right-10" type="button"
                          ng-click="vm.showImportbox=false">取消导入
                  </button>
                  <input type="submit" class="btn btn-primary pull-right right-10" value="导入所选文件"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th width="2%"><span ng-hide="vm.showCheckbox">#</span><span ng-show="vm.showCheckbox">全选<input type="checkbox" ng-click="vm.selectAll();"></span></th>
            <th width="24%">名称<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.name"></th>
            <th width="8%">负责人<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.person_name"></th>
            <th width="12%">单位<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.join_unit"></th>
            <!--<th width="3%">纵向<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.depth_flag"></th>-->
            <th width="8%">类型<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.type_name"></th>
            <th width="12%">来源<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.source"></th>
            <th width="4%">经费<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.fund"></th>
            <th width="4%">直接经费<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.direct_fund"></th>
            <th width="4%">间接经费<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.indirect_fund"></th>
            <!--<th width="6em">金融账户<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.financial_account"></th>-->
            <!--<th>备注<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.comment"></th>-->
            <th width="8%">起始<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.start_time"></th>
            <th width="8%">结束<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.end_time"></th>
            <th width="4%">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="vm.paginationConf.totalItems>0" ng-repeat="item in vm.projectList | filter:filter">
            <td ng-bind="item.id"></td>
            <td ng-bind="item.name"></td>
            <td ><a ng-bind="item.person_name" href="__APP__/People/detail/?id={{item.manager_id}}"></a></td>
            <td ng-bind="item.join_unit" ></td>
            <!--<td ng-bind="item.depth_flag"></td>-->
            <td ng-bind="item.type_name"></td>
            <td ng-bind="item.source"></td>
            <td ng-bind="item.fund"></td>
            <td ng-bind="item.direct_fund"></td>
            <td ng-bind="item.indirect_fund"></td>
            <!--<td ng-bind="item.support_no"></td>-->
            <!--<td ng-bind="item.source_department"></td>-->
            <!--<td ng-bind="item.subtype"></td>-->
            <!--<td ng-bind="item.financial_account"></td>-->
            <!--<td ng-bind="item.comment"></td>-->
            <td ng-bind="item.start_time"></td>
            <td ng-bind="item.end_time"></td>
            <td><a href="__URL__/delete?id={{item.id}}">删除</a> </td>
          </tr>
          <tr ng-if="vm.paginationConf.totalItems==0"><td colspan="15"><h2 class="text-center text-danger">无数据</h2></td></tr>
        </tbody>
      </table>
      <tm-pagination conf="vm.paginationConf"></tm-pagination>
    </div>
  </div>
</block>
<block name="js">
    <script type="text/javascript" src="__CDN__/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/project.controller.js"></script>
    <script type="text/javascript">
      selectMenu('project', 2, 0);
    </script>
</block>