<extend name="EXPERT/Templates/nav.html"/>
<block name="content">
    <div class="container" ng-app="paper" ng-controller="paperController as vm">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>筛选条件：</span>
            </div>
            <div class="panel-body">
                <!--筛选条件-->
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <span class="cond-label">作者单位：</span>
                        <div class="btn-group">
                            <label style="margin-bottom:0;color:#eee">
                                <select class="box-width form-control" ng-model="vm.collegeSelected"
                                        ng-options="item.id as item.name for item in vm.collegeList">
                                    <option value="">全部</option>
                                </select>
                            </label>
                        </div>
                    </div>

                        <!--<div class="btn-group col-sm-11">-->
                            <!--<label class="btn btn-default active" ng-click="vm.resetCheckbox(vm.academichonor_id)"-->
                                   <!--ng-model="vm.params.academichonor_id" uib-btn-radio="''">全部</label>-->
                            <!--<label class="btn btn-default" ng-repeat="item in vm.academichonorList"-->
                                   <!--ng-model="vm.academichonor_id[item.id]" uib-btn-checkbox data-toggle="tooltip"-->
                                   <!--data-placement="top" title="{{item.abbr_name}}"-->
                                   <!--ng-bind="item.abbr_name">-->
                            <!--</label>-->
                        <!--</div>-->

                    <div class="col-sm-4">
                        <span class="cond-label">论文类型：</span>
                        <div class="btn-group">
                            <label class="btn btn-default active" ng-click="vm.resetPaperType()"
                                   ng-model="vm.params.paper_type" uib-btn-radio="''">全部</label>
                            <label class="btn btn-default" ng-model="vm.paper_type.ei" uib-btn-checkbox data-toggle="tooltip" data-placement="top">EI</label>
                            <label class="btn btn-default" ng-model="vm.paper_type.sci" uib-btn-checkbox data-toggle="tooltip" data-placement="top">SCI</label>
                            <label class="btn btn-default" ng-model="vm.paper_type.cpci" uib-btn-checkbox data-toggle="tooltip" data-placement="top">CPCI-S</label>
                        </div>
                    </div>
                    <div class="col-sm-4 form-inline">
                        <span class="cond-label">出版年份：</span>
                        <div class="btn-group">
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="text" style="width: 70px" class="form-control" ng-model="vm.start_time" ng-blur="vm.setStart()" ng-keyup="setStartKeyupEvent($event)" placeholder="1919"/>
                                    至
                                </div>
                                <div class="form-group">
                                    <input type="text" style="width: 70px" class="form-control" ng-model="vm.end_time" ng-blur="vm.setEnd()" ng-keyup="setEndKeyupEvent($event)" placeholder="2017"/>
                                </div>
                            </form>
                        </div>
                        <!--<span class="cond-label">出版年份：</span>-->
                        <!--<div class="input-group form-control  col-sm-1 date form_year" ng-date data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd" >-->
                            <!--<input style="width: 70px" type="text" class="form-control" id="start_year" placeholder="1919" ng-model='timepickerTest'>-->
                            <!--<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>-->
                        <!--</div>-->
                        <!--至-->
                        <!--<div class="input-group form-control  col-sm-1 date form_date" ng-date data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd" >-->
                            <!--<input style="width: 70px" type="text" class="form-control" id="end_year" placeholder="今年" ng-model='timepickerTest'>-->
                            <!--<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="dtp_input2" class="col-md-2 control-label">Date Picking</label>-->
                            <!--<div  ng-model='timepickerTest'  ng-time class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">-->
                                <!--<input class="form-control" size="16" type="text" value="" readonly>-->
                                <!--<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>-->
                            <!--</div>-->
                            <!--<input type="hidden" id="dtp_input2" value="" /><br/>-->
                        <!--</div>-->
                    </div>
                </div>
                <!--所选筛选单位-->
                <div class="col-sm-12 bottom-10" ng-if="vm.collegeSelectedList.length > 0">
                    <span class="col-sm-1">所选单位：</span>
                    <label style="margin-bottom:0" ng-repeat="item in vm.collegeSelectedList">
                        <button tyle="button" class="btn button-link" ng-bind="vm.collegeMap[item]+'   X'"
                                ng-click="vm.removeCollege(item)"><b></b></button>
                        &nbsp;
                    </label>
                </div>
                <div class="col-sm-12 bottom-10" align="center" ng-hide="vm.chartFlag">
                    <!--<a ng-click="vm.chartFlag=true" href="" title="显示统计图">-->
                    <a ng-click="vm.chartFlag=true" href="" title="显示统计图">
                        <span class="glyphicon glyphicon-chevron-down"></span><br/>
                        <sapn>显示统计图表</sapn>
                    </a>
                </div>
                <div  class="col-sm-12" ng-show="vm.chartFlag" ng-cloak>
                    <hr/>
                    <span class="cond-label col-sm-1">统计类型：</span>
                    <div class="col-sm-11">
                        <div class="btn-group">
                            <label class="btn btn-default active" ng-model="vm.count_type" uib-btn-radio="'college'">科研单位</label>
                            <label class="btn btn-default" ng-model="vm.count_type" uib-btn-radio="'type'">论文类型</label>
                            <!--<label class="btn btn-default" ng-model="vm.count_type" uib-btn-radio="'honor'">学术称号</label>-->
                        </div>
                    </div>
                    <div id="p1" class="col-sm-12 bottom-10" align="center" style="height: 300px;width:1126px;" ></div>
                    <div class="top-10" align="center">
                        <a ng-click="vm.chartFlag=false" href="" title="隐藏图表">
                            <span class="glyphicon glyphicon-chevron-up"></span><br/>
                            <sapn>隐藏统计图表</sapn>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default table-header">
                <div class="panel-heading table-heading">
                    <div class="row">
                        <div class="col-md-4 pull-left">
                            <h3 class="panel-title table-title">论文列表</h3>
                        </div>
                        <div class="col-md-8 pull-right" ng-hide="vm.showCheckbox||vm.showImportbox">
                            <button type="button" class="btn btn-info pull-right right-10"
                                    ng-click="vm.showImportbox=true">
                                导入Excel&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-import"></span>
                            </button>
                            <button type="button" class="btn btn-info pull-right right-10"
                                    ng-click="vm.showCheckbox=true">导出Excel&nbsp;&nbsp;<span
                                    class="glyphicon glyphicon-export"></span></button>
                            <!--<div class="input-group col-md-4 pull-right right-10">-->
                                <!--<input type="text" class="form-control" ng-model="filter" placeholder="输入关键字">-->
                                <!--<div class="input-group-addon">搜索</div>-->
                            <!--</div>-->
                            <div class="input-group col-md-4 pull-right right-10 has-feedback">
                                <a class="btn input-group-addon" ng-click="vm.search()">搜索</a>
                                <input type="text" class="form-control " ng-model="vm.keyword"
                                       ng-blur="vm.search()" ng-keyup="searchKeyupEvent($event)"
                                       placeholder="作者/论文/期刊名">
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <span style="width:30px;height:30px;position:absolute;right:2px;z-index:100;cursor: pointer;"  ng-click="vm.resetKeyword()"></span>
                                <!--覆盖在小图标上面的元素-->
                                <!--<a class="btn input-group-addon" ng-click="vm.search()">搜索</a>-->
                            </div>
                        </div>
                        <div class="col-md-8" ng-show="vm.showCheckbox">
                            <button type="button" class="btn btn-default pull-right" ng-click="vm.showCheckbox=false">
                                取消导出</span></button>
                            <button type="button" class="btn btn-primary pull-right right-10"
                                    ng-click="vm.exportExcel('all')">导出所有<span
                                    class="glyphicon glyphicon-export"></span></button>
                            <button type="button" class="btn btn-success pull-right right-10"
                                    ng-click="vm.exportExcel('current')">导出当前页<span
                                    class="glyphicon glyphicon-export"></span></button>
                            <h3 class="table-title warning-text pull-left">请选择要导出的字段</h3>
                        </div>
                        <div class="col-md-8" ng-show="vm.showImportbox">
                            <form method="post" action="{:U('Paper/import')}" enctype="multipart/form-data">
                                <!--<div class="col-sm-6">-->
                                <!--<label class="pull-right right-10">浏览要导入的Excel文件：</label>-->
                                <!--</div>-->
                                <div class="col-sm-8">
                                    <input type="file" class="pull-right bottom-10" name="file_import"/>
                                </div>
                                <div class="col-sm-4" class="pull-right right-10">
                                    <button class="btn btn-default pull-right right-10" type="button"
                                            ng-click="vm.showImportbox=false">取消导入
                                    </button>
                                    <input type="submit" class="btn btn-primary pull-right right-10" value="导入所选文件"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th width="4%"><span ng-hide="vm.showCheckbox">#</span><span ng-show="vm.showCheckbox">全选<input type="checkbox" ng-click="vm.selectAll();"></span></th>
                    <th width="24%">论文题目<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.name"></th>
                    <th width="6%">一作<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.person_name"></th>
                    <th width="6%">通讯<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.person_name"></th>
                    <th width="16%">其他<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.person_name"></th>
                    <th width="8%">单位<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.col_name"></th>
                    <th width="18%">刊物<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.conference_name"></th>
                    <th width="8%">类型<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.comment"></th>
                    <th width="6%">出版时间<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.publish_date"></th>
                    <th width="4%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="vm.paginationConf.totalItems>0" ng-repeat="item in vm.paperList | filter:filter">
                    <td ng-bind="item.id"></td>
                    <td ng-bind="item.name"></td>
                    <td><a ng-bind="item.first_author" href="__APP__/People/detail/?id={{item.author_id}}"></a></td>
                    <td ng-bind="item.contacter_name"></td>
                    <td ng-bind="item.other_authors_name"></td>
                    <td ng-bind="item.col_name"></td>
                    <td ng-bind="item.conference_name"></td>
                    <td ng-bind="item.paper_type"></td>
                    <td ng-bind="item.publish_year"></td>
                    <td><a href="__URL__/delete?id={{item.id}}">删除</a></td>
                </tr>
                <tr ng-if="vm.paginationConf.totalItems==0">
                    <td colspan="12"><h2 class="text-center text-danger">无数据</h2></td>
                </tr>
                </tbody>
            </table>
            <!--<form method="post" action="{:U('Paper/import')}" enctype="multipart/form-data">-->
            <!--<h3>导入Excel表：</h3><input  type="file" name="file_import" />-->
            <!--<input type="submit"  value="导入" />-->
            <!--</form>-->
            <tm-pagination conf="vm.paginationConf"></tm-pagination>
        </div>
    </div>
</block>
<block name="js">
    <script type="text/javascript" src="__PUBLIC__/js/paper.controller.js"></script>
    <script type="text/javascript" src="__CDN__/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
    <script>
        selectMenu('paper', 3, 0);
        $('.form_date').datetimepicker({
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    </script>
</block>
