<extend name="EXPERT/Templates/nav.html"/>
<block name="content">
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">添加人员信息</h4>
              </div>
              <div class="modal-body">
                  <form class="form-horizontal" action="__URL__/add" method="post">
                      <div class="form-group">
                          <label class="col-sm-2 control-label">姓名</label>
                          <div class="col-sm-9">
                              <input type="text" name="name" class="form-control" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">性别</label>
                          <div class="col-sm-9">
                            <input type="radio" value="男" name="gender" checked>男&nbsp;&nbsp;&nbsp;
                            <input type="radio" value="女" name="gender">女
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">邮箱</label>
                          <div class="col-sm-9">
                            <input type="email" name="email" class="form-control" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">电话</label>
                          <div class="col-sm-9">
                            <input type="text" name="phone" class="form-control" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">职工号</label>
                          <div class="col-sm-9">
                            <input type="text" name="employee_no" class="form-control" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">博士后</label>
                          <div class="col-sm-9">
                            <input type="radio" value="1" name="postdoctor" checked>是&nbsp;&nbsp;&nbsp;
                            <input type="radio" value="2" name="postdoctor">否
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">出生日期</label>
                          <div class="col-sm-9">
                            <input type="text" name="birthday" class="form-control" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">一级学科</label>
                          <div class="col-sm-9">
                            <input type="text" name="first_class" class="form-control" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">二级学科</label>
                          <div class="col-sm-9">
                            <input type="text" name="second_class" class="form-control" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-5">
                              <button type="submit" class="btn btn-info">确认</button>
                              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="container" ng-app="user" ng-controller="userController as vm">
    <div class="col-sm-12 row">
      <show-more count="5">

        <div class="col-sm-12">
            <span class="cond-label">学院：</span>
            <div class="btn-group">
              <label style="margin-bottom:0;color:#eee">
                <select class="form-control" ng-model="vm.collegeSelected" ng-options="item.id as item.name for item in vm.collegeList">
                  <option value="">全部</option>
                </select>
              </label>
              <label style="margin-bottom:0" ng-repeat="item in vm.collegeSelectedList">
                <button tyle="button" class="btn button-link" ng-bind="vm.collegeMap[item]+'   X'" ng-click="vm.removeCollege(item)"><b></b></button>&nbsp;
              </label>
            </div>
        </div>

        <div class="col-sm-12" id="more">
            <span class="glyphicon glyphicon-triangle-bottom">
            </span>
        </div>
      </show-more>
    </div>
  	<div class="col-md-12">
      <div class="panel panel-default table-header">
        <div class="panel-heading table-heading">
          <div class="row">
            <div class="col-md-4 pull-left">
              <h3 class="panel-title table-title">用户列表</h3>
            </div>
            <div class="col-md-8 pull-right" ng-hide="vm.showCheckbox">
                <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#modal">新增&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span></button>
            </div>
          </div>
        </div>
      </div>
  		<table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>账户名</th>
            <th>真实姓名</th>
            <th>所属部门</th>
            <th>注册日期</th>
            <th>角色</th>
            <th>账号状态</th>
             <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="vm.paginationConf.totalItems" ng-repeat="item in vm.userList | filter:filter">
            <td ng-bind="item.id"></td>
            <td ng-bind="item.account"></td>
            <td ng-bind="item.real_name"></td>
            <td ng-bind="item.college_name"></td>
            <td ng-bind="item.reg_date"></td>
            <td ng-bind="item.role_name"></td>
            <td ng-bind="item.valid==1?'有效':'锁定'"></td>
            <td ng-if="item.valid==1"> <a href="__URL__/set_status?field=valid&id={{item.id}}&flag=0" >锁定</a> </td>
            <td ng-if="item.valid!=1"> <a  href="__URL__/set_status?field=valid&id={{item.id}}&flag=1" >解锁</a> </td>
            <!-- <td width="6%"><span class="glyphicon glyphicon-edit" onclick="modify(this);"></span><span class="glyphicon glyphicon-trash pull-right" onclick="del(this);"></span></td> -->
          </tr>
          <tr ng-if="!vm.paginationConf.totalItems"><td colspan="12"><h2 class="text-center text-danger">无数据</h2></td></tr>
        </tbody>
      </table>
      <tm-pagination conf="vm.paginationConf"></tm-pagination>
    </div>
  </div>
</block>
<block name="js">
<script type="text/javascript" src="__PUBLIC__/js/user.controller.js"></script>
<script type="text/javascript" src="__CDN__/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
<script type="text/javascript">
  var collegeList = '', collegeName = '';
  // getCollege();
  // function getCollege(){
  //   $.post('{:U("People/getCollege")}', {}, function(data){
  //     collegeList = data;
  //   });
  // }
	selectMenu('people', 0, 0);
  function modify(f){
    var $td = $(f).parent().siblings(':gt(0):lt(11)');
    $($td).each(function(){
        if(!$(this).is('textarea')){
            // if ($(this).index() == 2)
            //     $(this).html('<textarea type="text" class="form-control">'+ $(this).text() +'</textarea>');     
            // else
            if ($(this).index() != 4)
              $(this).html('<textarea type="text" class="form-control">'+ $(this).text() +'</textarea>');      
            else {
              collegeName = $(this).text();
              var str = ['<select id="college" class="form-control">'];
              $.each(collegeList, function(index, item){
                str.push('<option value="'+ item.id + '">' + item.name + '</option>');
              });
              str.join('');
              $(this).html(str + '</select>');
            }         
        }
    });
    $(f).next().remove();
    $(f).replaceWith('<span class="glyphicon glyphicon-ok" onclick="update(this);"></span><span class="glyphicon glyphicon-repeat pull-right" onclick="cancel(this);"></span>');  
  }

  function update(f){
    var $self = $(f);
    var $td = $self.parent();
    var option = {};
    var list = 'name,gender,employee_no,col_id,postdoctor,academichonor, birthday,email,phone,first_class,second_class'.split(',');
    option['id'] = parseInt($td.siblings(':eq(0)').text());
    $td.siblings(':gt(0):lt(12)').each(function(index,element){
      option[list[index]] = $(this).children().val();
    });
    //collegeName = $('#college').val();
    $.post('{:U("People/update")}',option,function(data){
      if (data == '1')
      {
        alert('修改成功');
        window.location.reload();
        //cancel(f.nextSibling);
      }
      else
        alert('修改失败');
    });
  }

  function cancel(f){
    $self = $(f);
    $self.parent().siblings(':gt(0):lt(12)').each(function(){
      if ($(this).index() != 4)
        $(this).html($(this).children('textarea').val());
      else
        $(this).html(collegeName);
    });
    $self.prev().replaceWith('<span class="glyphicon glyphicon-edit" onclick="modify(this);"></span><span class="glyphicon glyphicon-trash pull-right" onclick="del(this);"></span>');
    $self.remove();
  }
  function del(f){
    var id = parseInt($(f).parent().siblings(':eq(0)').text());
    if(confirm('确认删除？'))
    {
      $.post('{:U("People/delete/")}',{id:id},function(data){
        if (data == '1'){
            alert('删除成功');
            $(f).closest('tr').hide('slow');
        }else
            alert('删除失败，含有外键关联');
      });
    }
  }
</script>
</block>