<extend name="EXPERT/Templates/nav.html"/>
<block name="content">
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div>
  <div id="myUserApp" class="container" ng-app="user" ng-controller="userController as vm">
    <div class="col-sm-12 row">
      <show-more count="5">

        <div class="col-sm-12">
            <span class="cond-label">所属部门：</span>
            <div class="btn-group">
              <label style="margin-bottom:0;color:#eee">
                <select class="select-width form-control" ng-model="vm.collegeSelected" ng-options="item.id as item.name for item in vm.collegeList">
                  <option value="">全部</option>
                </select>
              </label>
              <label style="margin-bottom:0" ng-repeat="item in vm.collegeSelectedList">
                <button tyle="button" class="btn button-link" ng-bind="vm.collegeMap[item]+'   X'" ng-click="vm.removeCollege(item)"><b></b></button>&nbsp;
              </label>
            </div>
        </div>

        <div class="col-sm-12" id="more">
            <span class="glyphicon glyphicon-triangle-bottom"></span>
        </div>
      </show-more>
    </div>
  	<div class="col-md-12">
      <div class="panel panel-default table-header">
        <div class="panel-heading table-heading">
          <div class="row">
            <div class="col-md-4 pull-left">
              <h3 class="panel-title table-title">用户列表</h3>
            </div>
            <!--<div class="col-md-8 pull-right" ng-hide="vm.showCheckbox">-->
                <!--<button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#modal">新增&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span></button>-->
            <!--</div>-->
          </div>
        </div>
      </div>
  		<table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>账户名</th>
            <th>真实姓名</th>
            <th>所属部门</th>
            <th>注册日期</th>
            <th>角色</th>
            <th>账号状态</th>
             <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="vm.paginationConf.totalItems" ng-repeat="item in vm.userList | filter:filter">
            <td ng-bind="item.id"></td>
            <td ng-bind="item.account"></td>
            <td ng-bind="item.real_name"></td>
            <td ng-bind="item.college_name"></td>
            <td ng-bind="item.reg_date"></td>
            <td ng-bind="item.role_name"></td>
            <td ng-bind="item.status_name"></td>
            <td ng-switch="item.status_id">
                <div ng-switch-when="1">
                    <!--待审核-->
                    <a href="__URL__/set_status?id={{item.id}}&flag=2" >通过</a>
                    <a href="__URL__/del?id={{item.id}}">删除</a>
                </div>
                <div ng-switch-when="2">
                    <!--正常-->
                    <a href="__URL__/set_status?id={{item.id}}&flag=4" >锁定</a>
                    <a href="__URL__/del?id={{item.id}}">删除</a>
                </div>
                <div ng-switch-when="4">
                    <!--锁定-->
                    <a  href="__URL__/set_status?id={{item.id}}&flag=2" >解锁</a>
                    <a href="__URL__/del?id={{item.id}}">删除</a>
                </div>
                <div ng-switch-default></div>
            </td>
          </tr>
          <tr ng-if="!vm.paginationConf.totalItems"><td colspan="12"><h2 class="text-center text-danger">无数据</h2></td></tr>
        </tbody>
      </table>
      <tm-pagination conf="vm.paginationConf"></tm-pagination>
    </div>
  </div>
</block>
<block name="js">
<script type="text/javascript" src="__PUBLIC__/js/user.controller.js"></script>
<script type="text/javascript" src="__CDN__/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
</block>