<extend name="EXPERT/Templates/nav.html"/>
<block name="content">
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div>
  <div id="myUserApp" class="container" ng-app="user" ng-controller="userController as vm">
    <div  id="pannel_frame" class="col-sm-12 row">
        <div class="col-sm-12 bottom-10">
            <span class="cond-label">筛选学院：</span>
            <div class="btn-group">
              <label style="margin-bottom:0;color:#eee">
                <select class="select-width form-control" ng-model="vm.collegeSelected" ng-options="item.id as item.name for item in vm.collegeList">
                  <option value="">全部</option>
                </select>
              </label>
              <label style="margin-bottom:0" ng-repeat="item in vm.collegeSelectedList" ng-cloak>
                <button tyle="button" class="btn button-link" ng-bind="vm.collegeMap[item]+'   X'" ng-click="vm.removeCollege(item)"><b></b></button>&nbsp;
              </label>
            </div>
        </div>

        <!--<div class="col-sm-12" id="more">-->
            <!--<span class="glyphicon glyphicon-triangle-bottom"></span>-->
        <!--</div>-->
      <!--</show-more>-->
    </div>
  	<div class="col-md-12">
      <div class="panel panel-default table-header">
        <div class="panel-heading table-heading">
            <div class="row">
                <div class="col-md-4 pull-left">
                    <h3 class="panel-title table-title">用户列表</h3>
                </div>
                <!--<div class="col-md-8 pull-right" ng-hide="vm.showCheckbox">-->
                <!--<button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#modal">新增&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span></button>-->
                <!--</div>-->
                <!--vm.showCheckbox||-->
                <div class="col-md-8 pull-right" ng-hide="vm.showImportbox">
                    <button type="button" class="btn btn-info pull-right right-10" ng-click="vm.showImportbox=true">
                        导入Excel&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-import"></span>
                    </button>
                    <a href="/Audit/index" class="btn btn-primary pull-right right-10">查看系统日志</a>
                    <a href="/Index/logout" class="btn btn-primary pull-right right-10">退出当前账户</a>
                    <div class="input-group col-md-4 pull-right right-10 has-feedback">
                        <a class="btn input-group-addon" ng-click="vm.search()">搜索</a>
                        <input type="text" class="form-control " ng-model="vm.keyword" ng-blur="vm.search()" ng-keyup="searchKeyupEvent($event)" placeholder="账户名或者真实姓名">
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span style="width:30px;height:30px;position:absolute;right:2px;z-index:100;cursor: pointer;"  ng-click="vm.resetKeyword()"></span>
                    </div>
                </div>

                <div class="col-md-8" ng-show="vm.showImportbox" ng-cloak>
                    <form method="post" action="{:U('User/import')}" enctype="multipart/form-data">
                        <!--<div class="col-sm-6">-->
                        <!--<label class="pull-right right-10">浏览要导入的Excel文件：</label>-->
                        <!--</div>-->
                        <div class="col-sm-8">
                            <input type="file" class="pull-right bottom-10" name="file_import"/>
                        </div>
                        <div class="col-sm-4" class="pull-right right-10">
                            <button class="btn btn-default pull-right right-10" type="button"
                                    ng-click="vm.showImportbox=false">取消导入
                            </button>
                            <input type="submit" ng-click="vm.isUploading=true" class="btn btn-primary pull-right right-10" value="导入所选文件"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
          <div class="alert alert-danger col-md-12 top-5" style="margin-bottom: 2px;margin-top: 2px;text-align:center" ng-show="vm.isUploading && vm.showImportbox" ng-cloak>
              我们的服务器正在奋力导入您选择的数据，请您不妨喝杯咖啡耐心等待一下
          </div>
      </div>
  		<table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th width="6%">#</th>
            <th width="14%">账户名</th>
            <th width="14%">真实姓名</th>
            <th width="16%">所属部门</th>
            <th width="14%">注册日期</th>
            <th width="12%">角色</th>
            <th width="12%">账号状态</th>
             <th width="12%">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="vm.paginationConf.totalItems>0" ng-repeat="item in vm.userList | filter:filter">
            <td ng-bind="$index+1"></td>
            <td ng-bind="item.account"></td>
            <td ng-bind="item.real_name"></td>
            <td ng-bind="item.college_name"></td>
            <td ng-bind="item.reg_date"></td>
            <td ng-bind="item.role_name"></td>
            <td ng-bind="item.status_name"></td>
            <td ng-switch="item.status_id" style="white-space: nowrap;">
                <div ng-switch-when="1" class="operate-ele" ng-cloak>
                    <!--待审核-->
                    <a href="__URL__/set_status?id={{item.id}}&flag=2" >通过</a>
                    <a href="__URL__/del?id={{item.id}}">删除</a>
                </div>
                <div ng-switch-when="2" class="operate-ele" ng-cloak>
                    <!--正常-->
                    <a href="__URL__/set_status?id={{item.id}}&flag=4" >锁定</a>
                    <a href="__URL__/del?id={{item.id}}">删除</a>
                </div>
                <div ng-switch-when="4" class="operate-ele" ng-cloak>
                    <!--锁定-->
                    <a href="__URL__/set_status?id={{item.id}}&flag=2" >解锁</a>
                    <a href="__URL__/del?id={{item.id}}">删除</a>
                </div>
                <div ng-switch-default></div>
            </td>
          </tr>
          <tr ng-if="vm.paginationConf.totalItems==0"><td colspan="12"><h2 class="text-center text-danger">无数据</h2></td></tr>
        </tbody>
      </table>
      <tm-pagination conf="vm.paginationConf"></tm-pagination>
    </div>
  </div>
</block>
<block name="js">
<script type="text/javascript" src="__PUBLIC__/js/user.controller.js"></script>
<script type="text/javascript" src="__CDN__/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            refresh_mychart();
        });
        $(window).resize(refresh_mychart());
        function refresh_mychart(){
            var p1_width = $("#pannel_frame").width()-20;
            var p1_height = p1_width/4;
            $("#p1").width(p1_width).height(p1_height);
        }
    </script>
</block>