<extend name="EXPERT/Templates/nav.html"/>
<block name="content">
  <div class="container" ng-app="audit" ng-controller="auditController as vm">
  	<div class="col-md-12">
      <div class="panel panel-default table-header">
        <div class="panel-heading table-heading">
          <div class="row">
            <div class="col-md-4 pull-left">
              <h3 class="panel-title table-title">操作记录列表</h3>
            </div>
          </div>
        </div>
      </div>
  		<table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>用户名</th>
            <th>IP地址</th>
            <th>模块</th>
            <th>时间</th>
            <th>结果</th>
            <th style="text-align: left">描述</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="vm.paginationConf.totalItems" ng-repeat="item in vm.auditList | filter:filter">
            <td ng-bind="item.id"></td>
            <td ng-bind="item.name"></td>
            <td ng-bind="item.ip"></td>
            <td ng-bind="item.module"></td>
            <td ng-bind="item.time"></td>
            <td ng-bind="item.result"></td>
            <td style="text-align: left" ng-bind="item.descr"></td>
          </tr>
          <tr ng-if="!vm.paginationConf.totalItems"><td colspan="12"><h2 class="text-center text-danger">无数据</h2></td></tr>
        </tbody>
      </table>
      <tm-pagination conf="vm.paginationConf"></tm-pagination>
    </div>
  </div>
</block>
<block name="js">
<script type="text/javascript" src="__PUBLIC__/js/audit.controller.js"></script>
<script type="text/javascript" src="__CDN__/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
<script>
  selectMenu('audit', 6, 0);
</script>
</block>