<extend name="EXPERT/Templates/nav.html"/>
<block name="content">
  <!-- <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">添加人员信息</h4>
              </div>
              <div class="modal-body">
                  <form class="form-horizontal" action="__URL__/add" method="post">
                      <div class="form-group">
                          <label class="col-sm-2 control-label">姓名</label>
                          <div class="col-sm-9">
                              <input type="text" name="name" class="form-control" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">性别</label>
                          <div class="col-sm-9">
                            <input type="radio" value="男" name="gender" checked>男&nbsp;&nbsp;&nbsp;
                            <input type="radio" value="女" name="gender">女
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">邮箱</label>
                          <div class="col-sm-9">
                            <input type="email" name="email" class="form-control" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">电话</label>
                          <div class="col-sm-9">
                            <input type="text" name="phone" class="form-control" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">职工号</label>
                          <div class="col-sm-9">
                            <input type="text" name="employee_no" class="form-control" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">博士后</label>
                          <div class="col-sm-9">
                            <input type="radio" value="1" name="postdoctor" checked>是&nbsp;&nbsp;&nbsp;
                            <input type="radio" value="2" name="postdoctor">否
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">出生日期</label>
                          <div class="col-sm-9">
                            <input type="text" name="birthday" class="form-control" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">一级学科</label>
                          <div class="col-sm-9">
                            <input type="text" name="first_class" class="form-control" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">二级学科</label>
                          <div class="col-sm-9">
                            <input type="text" name="second_class" class="form-control" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-5">
                              <button type="submit" class="btn btn-info">确认</button>
                              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div> -->
  <div class="container" ng-app="award" ng-controller="awardController as vm">
      <div class="panel panel-default">
          <div class="panel-heading">
              <span>筛选条件：</span>
          </div>
          <div class="panel-body">
              <div class="col-sm-12 row">
                  <!--<show-more count="5">-->
                  <!--<div class="col-sm-12 bottom-10">-->
                  <!--<span class="cond-label">人员年龄：</span>-->
                  <!--<div class="btn-group">-->
                  <!--<date-range start-time="vm.params.person_startTime" end-time="vm.params.person_endTime"></date-range>-->
                  <!--</div>-->
                  <!--</div>-->
                  <div class="col-sm-6 bottom-10">
                      <span class="cond-label">获奖级别：</span>
                      <div class="btn-group">
                          <label class="btn btn-default active" ng-model="vm.params.level"
                                 ng-click="vm.resetCheckbox(vm.level)" uib-btn-radio="''">全部</label>
                          <label class="btn btn-default" ng-model="vm.level[0]" uib-btn-checkbox>国家级</label>
                          <label class="btn btn-default" ng-model="vm.level[1]" uib-btn-checkbox>省级奖</label>
                          <label class="btn btn-default" ng-model="vm.level[2]" uib-btn-checkbox>部级奖</label>
                          <label class="btn btn-default" ng-model="vm.level[3]" uib-btn-checkbox>学校级</label>
                          <label class="btn btn-default" ng-model="vm.level[4]" uib-btn-checkbox>其他</label>
                      </div>
                  </div>
                  <!--<div class="col-sm-12 bottom-10">-->
                      <!--<span class="cond-label">人员职称：</span>-->
                      <!--<div class="btn-group">-->
                          <!--<label class="btn btn-default active" ng-click="vm.resetCheckbox(vm.grade_id)"-->
                                 <!--ng-model="vm.params.grade_id" uib-btn-radio="''">全部</label>-->
                          <!--<label class="btn btn-default" ng-repeat="item in vm.gradeList"-->
                                 <!--ng-model="vm.grade_id[item.id]" uib-btn-checkbox ng-bind="item.name"></label>-->
                      <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-sm-12 bottom-10">-->
                      <!--<span class="cond-label">学术称号：</span>-->
                      <!--<div class="btn-group">-->
                          <!--<label class="btn btn-default active" ng-click="vm.resetCheckbox(vm.academichonor_id)"-->
                                 <!--ng-model="vm.params.academichonor_id" uib-btn-radio="''">全部</label>-->
                          <!--<label class="btn btn-default" ng-repeat="item in vm.academichonorList"-->
                                 <!--ng-model="vm.academichonor_id[item.id]" uib-btn-checkbox data-toggle="tooltip"-->
                                 <!--data-placement="top" title="{{item.name}}"-->
                                 <!--ng-bind="item.name.length>4?item.name.substr(0,4) + '...':item.name"></label>-->
                      <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-sm-12 bottom-10 top-10">-->
                      <!--<span class="cond-label">人员姓名：</span>-->
                      <!--<div class="btn-group">-->
                          <!--<input type="text" class="form-control" ng-model="vm.person_name"/>-->
                      <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-sm-12 bottom-10">-->
                      <!--<span class="cond-label">奖励名称：</span>-->
                      <!--<div class="btn-group">-->
                          <!--<input type="text" class="form-control" ng-model="vm.name"/>-->
                      <!--</div>-->
                  <!--</div>-->
                  <div class="col-sm-6 bottom-10">
                      <span class="cond-label">获奖时间：</span>
                      <div class="btn-group">
                          <form class="form-inline">
                              <div class="form-group">
                                  <input type="text" class="form-control" ng-model="vm.start_time" ng-blur="vm.setStart()" ng-keyup="setStartKeyupEvent($event)"
                                         placeholder="时间格式：1919-10-17"/>
                                  至
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control" ng-model="vm.end_time" ng-blur="vm.setEnd()" ng-keyup="setEndKeyupEvent($event)"
                                         placeholder="时间格式：2019-10-17"/>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="col-sm-5 row">
                      <span class="cond-label">所属学院：</span>
                      <div class="btn-group">
                          <label style="margin-bottom:0;color:#eee">
                              <select class="box-width form-control" ng-model="vm.collegeSelected"
                                      ng-options="item.id as item.name for item in vm.collegeList">
                                  <option value="">全部</option>
                              </select>
                          </label>
                      </div>
                  </div>
                  <div class="col-sm-12 top-10" ng-if="vm.collegeSelectedList.length > 0">
                      <span class="cond-label">所选单位：</span>
                      <label style="margin-bottom:0" ng-repeat="item in vm.collegeSelectedList">
                          <button tyle="button" class="btn button-link" ng-bind="vm.collegeMap[item]+'   X'"
                                  ng-click="vm.removeCollege(item)"><b></b></button>
                          &nbsp;
                      </label>
                  </div>
                  <!--<div class="col-sm-12">-->
                      <!--<span class="cond-label"></span>-->
                      <!--<button class="btn btn-info" ng-click="vm.submit()">确定</button>-->
                      <!--<button class="btn btn-default" ng-click="vm.cancel()">取消</button>-->
                  <!--</div>-->
                  <!--<div class="col-sm-12" id="more">-->
                  <!--<span class="glyphicon glyphicon-triangle-bottom">-->
                  <!--</span>-->
                  <!--</div>-->
                  <!--</show-more>-->
              </div>
          </div>
      </div>
  	<div class="col-md-12">
      <div class="panel panel-default table-header">
        <div class="panel-heading table-heading">
          <div class="row">
            <div class="col-md-4 pull-left">
              <h3 class="panel-title table-title">获奖列表</h3>
            </div>
            <div class="col-md-8 pull-right" ng-hide="vm.showCheckbox||vm.showImportbox">
                <!-- <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#modal">新增&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span></button> -->
                <button type="button" class="btn btn-info pull-right right-10" ng-click="vm.showImportbox=true">
                    导入Excel&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-import"></span>
                </button>
                <button type="button" class="btn btn-info pull-right right-10" ng-click="vm.showCheckbox=true">导出Excel&nbsp;&nbsp;<span class="glyphicon glyphicon-export"></span></button>

                <div class="input-group col-md-4 pull-right right-10 has-feedback">
                    <a class="btn input-group-addon" ng-click="vm.search()">搜索</a>
                    <input type="text" class="form-control " ng-model="vm.keyword" ng-blur="vm.search()" ng-keyup="searchKeyupEvent($event)" placeholder="获奖人/奖励名">
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <span style="width:30px;height:30px;position:absolute;right:2px;z-index:100;cursor: pointer;"  ng-click="vm.resetKeyword()"></span>
                    <!--覆盖在小图标上面的元素-->
                    <!--<a class="btn input-group-addon" ng-click="vm.search()">搜索</a>-->
                </div>
            </div>
            <div class="col-md-8" ng-show="vm.showCheckbox">
                <button type="button" class="btn btn-default pull-right" ng-click="vm.showCheckbox=false">取消导出</span></button>
                <button type="button" class="btn btn-primary pull-right right-10" ng-click="vm.exportExcel('all')">导出所有<span class="glyphicon glyphicon-export"></span></button>
                <button type="button" class="btn btn-success pull-right right-10" ng-click="vm.exportExcel('current')">导出当前页<span class="glyphicon glyphicon-export"></span></button>
                <h3 class="table-title warning-text pull-left">请选择要导出的字段</h3>
            </div>
              <div class="col-md-8" ng-show="vm.showImportbox">
                  <form method="post" action="{:U('Award/import')}" enctype="multipart/form-data">
                      <!--<div class="col-sm-6">-->
                      <!--<label class="pull-right right-10">浏览要导入的Excel文件：</label>-->
                      <!--</div>-->
                      <div class="col-sm-8">
                          <input type="file" class="pull-right bottom-10" name="file_import"/>
                      </div>
                      <div class="col-sm-4" class="pull-right right-10">
                          <button class="btn btn-default pull-right right-10" type="button"
                                  ng-click="vm.showImportbox=false">取消导入
                          </button>
                          <input type="submit" class="btn btn-primary pull-right right-10" value="导入所选文件"/>
                      </div>
                  </form>
              </div>
          </div>
        </div>
      </div>
  		<table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th width="4%"><span ng-hide="vm.showCheckbox">#</span><span ng-show="vm.showCheckbox">全选<input type="checkbox" ng-click="vm.selectAll();"></span></th>
            <th width="16%">贡献<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.achievement"></th>
            <th width="12%">奖励<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.name"></th>
            <th width="6%">级别<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.level"></th>
            <th width="6%">等级<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.sub_level"></th>
            <th width="6%">获奖人<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.person_name"></th>
            <th width="8%">学院<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.col_name"></th>
            <!--<th width="8%">出生日期<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.birthday"></th>-->
            <!--<th width="8%">获奖人职称<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.grade_name"></th>-->
            <th width="8%">时间<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.time"></th>
            <th width="8%">其他人<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.cooperator"></th>
            <!--<th width="4%">备注<input type="checkbox" ng-show="vm.showCheckbox" ng-model="vm.exportParams.comment"></th>-->
            <th width="4%">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="vm.paginationConf.totalItems>0" ng-repeat="item in vm.awardList | filter:filter">
            <td ng-bind="item.id"></td>
            <td ng-bind="item.achievement"></td>
            <td ng-bind="item.name"></td>
            <td ng-bind="item.level"></td>
            <td ng-bind="item.sub_level"></td>
            <td><a ng-bind="item.person_name" href="__APP__/People/detail/?id={{item.first_id}}"></a></td>
            <td ng-bind="item.col_name"></td>
            <!--<td ng-bind="item.birthday"></td>-->
            <!--<td ng-bind="item.grade_name"></td>-->
            <td ng-bind="item.time"></td>
            <td ng-bind="item.cooperator"></td>
            <!--<td ng-bind="item.comment"></td>-->
            <td><a href="__URL__/delete?id={{item.id}}">删除</a></td>
          </tr>
          <tr ng-if="vm.paginationConf.totalItems==0"><td colspan="12"><h2 class="text-center text-danger">无数据</h2></td></tr>
        </tbody>
      </table>
        <!--<form method="post" action="{:U('Award/import')}" enctype="multipart/form-data">-->
            <!--<h3>导入Excel表：</h3><input  type="file" name="file_import" />-->
            <!--<input type="submit"  value="导入" />-->
        <!--</form>-->
      <tm-pagination conf="vm.paginationConf"></tm-pagination>
    </div>
  </div>
</block>
<block name="js">
<script type="text/javascript" src="__PUBLIC__/js/award.controller.js"></script>
<script type="text/javascript" src="__CDN__/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
<script>
  selectMenu('award', 0, 0);  
</script>
</block>